@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit la shopping! xD</h1>
    <p>Acest site este un pamflet si nu trebuie amendat ca atare!</p>
    <p>Tot respectul pentru institutiile publice si ANPC care isi fac treaba!</p>
    <a asp-controller="Items" asp-action="Index">Consulta lista de produse, draga cetatean roman cinstit!</a>
</div>
