@{
    ViewData["Title"] = "Confidentialitate";
}
<h1>@ViewData["Title"]</h1>

<p>Primu' venit primu' servit!<br>
Daca va vreti banii inapoi... GHINION! Nu dam nimic, pentru ca sarakia e mare.
Pentru orice produs defect contactati persoana care vi l-a vandut!<br><br>
Toate cele bune, draga cumparator!
</p>
