@model IEnumerable<ItemShopModel.Models.Order>
@{
    ViewData["Title"] = "Ordered Items Statistics";
}
<h2>Ordered Items Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Items
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.Quantity
            </td>
        </tr>
    }
</table>